body {
	margin: 20px;padding: 0;
	background: #333;
}

.container {
	max-width: 760px;
	margin: auto;
	border: #fff solid 3px;
	background: #fff;
}

.main-img img, .imgs img {
	width: 100%;
}

.imgs {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 5px;
}

.imgs img {
	cursor: pointer;
}

/* Fade in animation */
@keyframes fadeIn {
	to {
		opacity: 1;
	}
}

.fade-in {
	opacity: 0;
	animation: fadeIn .5s ease-in forwards;
}
